.day-weather{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 140px;

    align-items: center;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    color: black;
    margin: 3px;
    padding: 10px;
}
.weather-icon{
    width: 100px;
}
.weather-conditions{
    display: flex;
    justify-content: space-around;
}

.weather-temp{
    color: darkgray;
    margin-right: 5px;
}

.weather-desc{
    font-weight: bold;
}